
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>ECAD</title>
</head>

<body>
    welcome {{request.user}}
    <a href="/logout">Logout</a>
    <form method="post" action= "/microsection">
    {% csrf_token %}
    <h3 align="center" cellpadding = "10">SINGLE WINDOW FOR MICROSECTION</h3>
    <table align="center" cellpadding = "10">
 
        <!----- CAD NO ---------------------------------------------------------->
        <tr>
        <td>CAD NO</td>
        <td><input type="text" name="CAD_NO" maxlength="30"/>
        
        </td>
        </tr>
        <!----- MANUFACTURER ---------------------------------------------------------->
        <tr>
        <td>MANUFACTURER    </td>
        <td>
        <select id="MANUFACTURER_NAME" name="MANUFACTURER_NAME">
        <option value="-1">SELECT A MANUFACTURER</option>
        <option value="INHOUSE">INHOUSE	</option>
        <option value="ELTEK">ELTEK</option>
        <option value="HIQ">HIQ</option>
        <option value="MICROPACK">MICROPACK</option>
        <option value="AMPHENOL">AMPHENOL</option>
        </select>
    
        </td>
        </tr>
        <!----- PANEL NO ---------------------------------------------------------->
        <tr>
        <td>PANEL NO</td>
        <td><input type="text" name="PANEL_NO" maxlength="30" /></td>
        </tr>
     
        <!----- DATE CODE  ---------------------------------------------------------->
        <tr>
        <td>DATE CODE                  </td>
        <td>
        <input type="text" name="DATE_CODE" maxlength="30" />
        </td>
        </tr>
    
        <!----- Mobile Number ---------------------------------------------------------->
        <tr>
        <td>PCB SI NOS                 </td>
        <td>
        <input type="text" name="PCB_SI_NOS" maxlength="10" />
        </td>
        </tr>
        <!----- PCB THICKNESS ---------------------------------------------------->
        <tr>
        <td>PCB THICKNESS                   </td>
        <td>
        <input type="text" name="PCB_THICKNESS" maxlength="10" />
        </td>
        </tr>
        <!-----NO OF LAYERS  ---------------------------------------------------------->
        <tr>
        <td>NO OF LAYERS                 </td>
                        <td>
        <select id="LAYER_COUNT" name="LAYER_COUNT">
        <option value="-1">SELECT LAYERCOUNT</option>
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="6">6</option>
        <option value="8">8</option>
        <option value="10">10</option>
        <option value="12">12</option>
        <option value="14">14</option>

                </select>
    
        </td>
        </tr>
 <!-----    

PROJECT  ---------------------------------------------------------->
        <tr>
        <td>PROJECT                </td>
                        <td>
        <select id="PROJECT" name="PROJECT">
        <option value="-1">SELECT THE PROJECT</option>
        <option value="PSLV">PSLV</option>
        <option value="GSLV">GSLV</option>
        <option value="MKIII">MKIII</option>
        <option value="RLV">RLV</option>
        <option value="GAGANYAN">GAGANYAN</option>
        <option value="SSLV">SSLV</option>
        <option value="TVP">TVP</option>
        <option value="ATVP">ATVP</option>
        <option value="TVP">TDP</option>
        <option value="HRLV">HRLV</option>

        <option value="OTHERS">OTHERS</option>



                </select>
    
        </td>
        </tr>

        <!----- APPLICATIONS   NO   ---------------------------------------------------------->
        <tr>
        <td>APPLIED SERIAL   NOS                 </td>
        <td>
        <input type="text" name="APPLIED_SERIAL_NOS" maxlength="10" />
        </td>
        </tr>
        <!----- To testing agency    ---------------------------------------------------------->
        <tr>
        <td>		To testing agency           </td>
        </tr> 
        <!----- TESTING AGENCY  ---------------------------------------------------------->
        <tr>
        <td>TESTING AGENCY                </td>
        <td>
        <select id="TESTING_AGENCY" name="TESTING_AGENCY">
        <option value="-1">SELECT A TESTING AGENCY</option>
        <option value="BENDRA">BENDRA	</option>
        <option value="INHOUSE">INHOUSE</option>
        <option value="TRANS_SPACE">TRANS SPACE</option>
        </select>
        </td>
        </tr>
    
        <td> DATE LOADING                 </td>
    
     
        <td>
        <select name="Load_day" id="Load_day">
        <option value="-1">Day:</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
     
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
     
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
     
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
     
        <option value="31">31</option>
        </select>
     
        <select id="Load_Month" name="Load_Month">
        <option value="-1">Month:</option>
        <option value="January">Jan</option>
        <option value="February">Feb</option>
        <option value="March">Mar</option>
        <option value="April">Apr</option>
        <option value="May">May</option>
        <option value="June">Jun</option>
        <option value="July">Jul</option>
        <option value="August">Aug</option>
        <option value="September">Sep</option>
        <option value="October">Oct</option>
        <option value="November">Nov</option>
        <option value="December">Dec</option>
        </select>
     
        <select name="Load_Year" id="Load_Year">
     
        <option value="-1">Year:</option>
        <option value="2030">2030</option>
        <option value="2029">2029</option>
        <option value="2028">2028</option>
        <option value="2027">2027</option>
        <option value="2026">2026</option>
        <option value="2025">2025</option>
        <option value="2024">2024</option>
        <option value="2023">2023</option>
        <option value="2022">2022</option>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
     
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
        </select>
        </td>        </tr>
        <!----- Date Of Birth -------------------------------------------------------->
        <tr>
        <td>DATE OF RESULT</td>
     
        <td>
        <select name="Result_day" id="Result_day">
        <option value="-1">Day:</option>
        <option value="1">1</option>
        <option value="2">2</option>    
        <option value="3">3</option>
     
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
     
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
     
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
     
        <option value="31">31</option>
        </select>
     
        <select id="Result_Month" name="Result_Month">
        <option value="-1">Month:</option>
        <option value="January">Jan</option>
        <option value="February">Feb</option>
        <option value="March">Mar</option>
        <option value="April">Apr</option>
        <option value="May">May</option>
        <option value="June">Jun</option>
        <option value="July">Jul</option>
        <option value="August">Aug</option>
        <option value="September">Sep</option>
        <option value="October">Oct</option>
        <option value="November">Nov</option>
        <option value="December">Dec</option>
        </select>
     
        <select name="Result_Year" id="Result_Year">
     
        <option value="-1">Year:</option>
                <option value="2030">2030</option>
        <option value="2029">2029</option>
        <option value="2028">2028</option>
        <option value="2027">2027</option>
        <option value="2026">2026</option>
        <option value="2025">2025</option>
        <option value="2024">2024</option>
        <option value="2023">2023</option>
        <option value="2022">2022</option>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
     
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
        </select>
        </td>
<td>DATE OF RECEIPT</td>
     
        <td>
        <select name="Receipt_Day" id="Receipt_Day">
        <option value="-1">Day:</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
     
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
     
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
     
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
     
        <option value="31">31</option>
        </select>
     
        <select id="Receipt_Month" name="Receipt_Month">
        <option value="-1">Month:</option>
        <option value="January">Jan</option>
        <option value="February">Feb</option>
        <option value="March">Mar</option>
        <option value="April">Apr</option>
        <option value="May">May</option>
        <option value="June">Jun</option>
        <option value="July">Jul</option>
        <option value="August">Aug</option>
        <option value="September">Sep</option>
        <option value="October">Oct</option>
        <option value="November">Nov</option>
        <option value="December">Dec</option>
        </select>
     
        <select name="Receipt_Year" id="Receipt_Year">
     
        <option value="-1">Year:</option>
        <option value="2030">2030</option>
        <option value="2029">2029</option>
        <option value="2028">2028</option>
        <option value="2027">2027</option>
        <option value="2026">2026</option>
        <option value="2025">2025</option>
        <option value="2024">2024</option>
        <option value="2023">2023</option>
        <option value="2022">2022</option>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
     
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
        </select>
        </td>
        </tr>
        
        <!----- PDF ----------------------------------------------------------->
        <tr>
            <td>Select a file:</td>
            <td>
            <input type="file" id="myfile" name="myfile">
            </td>
        </tr>
        <!----- Result ----------------------------------------------------------->
        <tr>
            <td>Result</td>
            <td>
            pass <input type="radio" name="Result" value="pass" />
            fail <input type="radio" name="Result" value="fail" />
            </td>
        </tr>

        <tr>
        <td>REMARKS                   </td>
        <td>
        <input type="text" name="REMARK" maxlength="10" />
        </td>
        </tr>

     
        <!----- Submit and Reset ------------------------------------------------->
        <tr>
        <td colspan="2" align="center">
        <input type="submit" value="Submit">
        <input type="reset" value="Result download">
        </td>
        </tr>
    </table>       
</form>
</body>
</html>